<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Ninja Gold</title>

</head>

<body>
    <div class="header">
        <h1>Ninja Gold</h1>
    </div>
    <div class="submitform">
        <form (submit)="createNewPlayer()">
            Name of Ninja: <input type="text" name="newPlayer.name" [(ngModel)]="newPlayer.name" />
            <input type="submit" value="make player">
        </form>
    </div>
    <div class="allPlayers">
        <!-- <button (click)="getAllPlayers()">show players</button> -->
        <ul *ngFor="let player of players">{{player.name}}
            <button (click)="pickPlayer(player._id)">pick</button>
            <button (click)="deletePlayer(player._id)">delete</button>
            <button (click)="getPlayer(player._id)">edit</button>
        </ul>
        <div *ngIf="editOne._id">
            <form (submit)="editPlayer(editOne._id)">
                edit name: <input type="text" name="editOne.name" [(ngModel)]="editOne.name" />
                <input type="submit" value="edit player">
            </form>
        </div>
    </div>
    <div *ngIf='picked'>
        <h1>{{playing.name}}</h1>
        <h1>Money: ${{playing.gold}}.00</h1>
        <button (click)="restart(playing._id,playing.name)">Restart</button>
    </div>
    <div *ngIf='picked' class="gold">
        <h1>Invest in Bitcoin</h1>
        <button (click)='bitcoin(playing._id, playing.name,playing.gold)'>to the moon!</button>

    </div>

    <div *ngIf='picked' class="gold">
        <h1>Work Hard</h1>
        <button (click)="workHard(playing._id, playing.name,playing.gold)">do work</button>
    </div>

    <div *ngIf='picked' class="gold">
        <h1>Eat Out</h1>
        <button (click)="eatOut(playing._id, playing.name,playing.gold)">Spoil yourself</button>
    </div>

    <div *ngIf='picked' class="gold">
        <h1>Casino</h1>
        <button (click)="casino(playing._id, playing.name,playing.gold)">Feelin' lucky?</button>
    </div>

</body>

</html>