<div class="showauthors">
    <h1 class="display-3 ml-5 mt-3 font-weight-bold">Favorite Authors</h1>
    <button class="btn btn-success" [routerLink]="['/home']">home</button>
    <h2>Add New Author: </h2>
    <form (submit)="addAuthor()">
        <label for="">Name:</label>
        <input class="form-control" type="text" id="name" name="name" required minlength="5"
            [(ngModel)]="newAuthor.name" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                Name must be at least 5 characters long.
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="newAuthor.name.length < 5" >submit</button>
    </form>
</div>